/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&display=swap');

/* Bootstrap icons */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
/* Global Styling */
*,
*::before,
*::after {
margin:0;
padding: 0;
box-sizing:border-box;
}
.BHBTN {
    color:white;
    background-color:		#1c222e;
    border:1px solid black;
    display:block;
   width:100%;
   margin-bottom:10px;
}
:is(h1, h2, h3, h4, h5) {

    color:white !important;
    font-family: "Darker Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;

}
p {

    color:white !important;
    font-family: "Darker Grotesque", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
  
}
h2 {

    color:white !important;
    font-family: "Darker Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;

}
/* Background color */
body {

    background-color: #27272B !important;
}
/* NavBar Styling */
.navbar {

background-color:#1F1F23 !important;
font-family: "Darker Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
a {

text-decoration:none;

}
.router-link {
display:flex;
justify-content: center;
width:70%;
margin:auto;
text-decoration:underline;
text-decoration-color:#3d3d44

}
.spreader {

width:90%;
display:flex;
margin:auto;

}
.IconColour {

    color:black !important;

}
#Searcher {

max-width:50%;

}
.Logo {

color:white !important;

}
/* About Us Styling */
.AboutContainer {

    width:50%;
    margin:auto;


}
.AboutContainer h2 {

    text-decoration-line: underline;
    text-decoration-thickness: 0.4px;
    text-underline-offset: 10px;

}
.AboutText {

color: white !important;
font-family: "Darker Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
.imgContainer {
    position: relative;
    text-align: center;
    color: white !important;
   
}
.centered {
    color: white !important;
    font-family: "Darker Grotesque", sans-serif;
      font-optical-sizing: auto;
      font-weight: 300;
      font-style: normal;
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.centered2 {
    color: white !important;
    font-family: "Darker Grotesque", sans-serif;
      font-optical-sizing: auto;
      font-weight: 300;
      font-style: normal;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width:40%;
}
.centereds {
    color: white !important;
    font-family: "Darker Grotesque", sans-serif;
      font-optical-sizing: auto;
      font-weight: 300;
      font-style: normal;
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.centereds2 {
    color: white !important;
    font-family: "Darker Grotesque", sans-serif;
      font-optical-sizing: auto;
      font-weight: 300;
      font-style: normal;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width:40%;
}
.centered3 {
    color: white !important;
    font-family: "Darker Grotesque", sans-serif;
      font-optical-sizing: auto;
      font-weight: 300;
      font-style: normal;
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width:40%;
}
.AboutText {
    color: white !important;
    font-family: "Darker Grotesque", sans-serif;
      font-optical-sizing: auto;
      font-weight: 300;
      font-style: normal;
text-align:center;

}
#America {
    object-fit:cover;
    object-position:center;
margin:auto;
width:100%;
height:25rem;
overflow:hidden;
opacity:0.4;
}
/* Contact Us Style */
.FormContainerTop {

    display:flex;


}
.LocationContent {
    display:flex;
    flex-direction:column;
    
    }
    .Contact h2 {
        font-family: "Darker Grotesque", sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
        text-align:left;
       letter-spacing:.2rem;
       color:white;
    
    }
    .UnderText {
    
        text-align:center;
        color:white;
        font-family: "Darker Grotesque", sans-serif;
          font-optical-sizing: auto;
          font-weight: 300;
          font-style: normal;
    }
    .ContactUsText {
    
        margin:auto;
        width:50%;
    
    }
    textarea {
    
        resize:none;
    
    }
    .ContactBG {
    opacity:0.9;
        background-color:black;
        padding:0.2rem;
        margin:auto;
    
    }
    .ContactBG h3 {
    
        text-decoration:underline;
    
    }
    #ContactForm {
    
        width:100%;
        margin:auto;
        outline:1px solid black;
        border-radius:7px;
        color:black !important;
    
    }
    input[type=text] {
    
        color:black !important;
    
    }
    input[type=email] {
    
        color:black;
    
    }
    
    input[type=number] {
    
        color:black;
    
    }
    
    
    select {
    
        color:black;
    
    }
    textarea {
      resize:none !important;
        color:black !important;
    }
    .QuestionCon {
    
      margin:auto;
      width:200px;
    
    }
    .BtnCenter {
    display:flex;
    flex-direction: column;
    margin-top:0.1rem;
    justify-content: center;
    
    }
    #VipBtn {
        background-color:		#1c222e;

        width:25%;
        height:25%;
        border:1px solid black;
        border-radius:7px;
       margin:auto;
       padding:2px;
       color:white;
       margin-top:20px;
       text-align:center;
       }
       /* Splash Page Styling */
       .SplashContainer {
        background-color: #1F1F23;
        width:450px;
        height:auto;
        margin:auto;
        display: flex;
        flex-direction: column;
       margin-top:20px;
       border:1px solid black;
       /* box-shadow:7px 7px #000000; */
       }
       .SplashContainer h2 {
 
        color:white !important;
        font-family: "Darker Grotesque", sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;

       }
       #VipBtnLogin {


        background-color:		#1c222e;
        width:75%;
        height:25%;
        border:1px solid black;
        border-radius:7px;
       margin:auto;
       padding:2px;
       color:white;
       margin-top:20px;
       text-align:center;

       }
       .TextContent {

margin-left:10px;

       }
       #LoginForm {
        width:50%;
        outline:1px solid black;
        border-radius:5px;
        border:none;
       }
       .btnContainer {
    display:flex;
      flex-direction:column;


       }
       .Background {

        background-image:url("https://richtershotline.github.io/Pimages/Images/Collage.png");
        background-position:center;
        background-repeat: no-repeat; 
        background-size: cover; 
       height:100vh;
       }
       /* Sign up Styling */
       #SignupImg {
        object-fit:cover;
    object-position:38% 38%;
margin:auto;
width:100%;
height:19rem;
overflow:hidden;
opacity:0.4;
       }
       #SignUpPassword {

        width:70%;
        border-radius:7px;

       }
       #VipSignUp {
        background-color: #3d3d44;
        width:25%;
        height:35%;
        border:1px solid black;
        border-radius:7px;
       margin:auto;
       padding:2px;
       color:white;
       margin-top:20px;
       text-align:center;

       }

       /* Profile View */
       .NavCon {


       }
       
       .searcher {
       
       
       }
       .NavContent {
       
       
       }
       
       .SearchBTN {
       
           background-color:#554840;
          color:white;
       border:1px solid black;
       width:10rem;
       }
       .Groups {
          
           background-color:	#554840 !important;
           border:1px solid black !important;
           margin-left:10px;
       
       }
       
       .OverlayCon {

        display:flex;
 width:100%;
 margin:auto;
       }
       .Content {
       
          
       }
       .Box {
           text-align: center;
           display:flex;
           flex-grow:1;
           width:50%;
           height:100px;
           background-color:black;
           margin-top:20px;
       
       }
       .userBox {
           width:20%;
           margin-top:20px;
           font-family:Arial, Helvetica, sans-serif;
       
       }
       .ImgBack {
        background-color:#1F1F23 !important;
        width:100%;
        margin:auto;
       height:13rem;
       }
       .UserContent img {
       
           margin-top:22px;
           
       
               width:50%;
               height:9.75rem;
               border-radius:50%;
          margin-bottom:10px;
           
       
       }
       .UserContent {
       
           text-align:center;
          color:white;
        width:20rem;
       }
       
       .UserContent p {
       
           padding:5px;
       
       }
       .Inbox {
       
       width:70%;
       border:none;
       color:white;
       background-color:		#1c222e;
       border:1px solid black;
       
       }
       .Send {
       
           width:30%;
           margin-left:5px;
           border:none;
           color:white;
           background-color:		#1c222e;
           border:1px solid black;
           display:block;
           margin-top:5px;
       }
       .Buttons {
       
           display:flex;
       justify-content: flex-end
       ;}
       .leftCon {
        width:100%;
        display:flex;
        
       }
       .MiddleCon {
        width:100%;
       }
       .Mid {
      
        width:200rem;

       }
       .Thought {
       
       background-color:#1F1F23;
       color:white;
       text-align:center;
       padding:10px;
       margin-top:20px;
       margin-bottom:20px;
       }
       .PostArea {
         margin-top:10px;
         text-align:center;
         width:100%;
       
       }
       #Post {
       
       
       }
       #UserName {
       
       background-color:#41533b;
       color:white;
       margin:0;
       }
       .PostedMsg {
           margin:0;
           background-color:#604439 !important;
           color:white;
       
       }
       textarea {
       
       
       }
       #Msg {
           resize:none;
           margin-top:10px;
           width:100%;
           margin-top:-17px;
           height:10rem;
           background-color:#151519;
           border:none;
       }
       .ProfilePicture {

        background-color:#1F1F23 !important;
        color:white !important;
     padding:2px;
     margin-top:10px;
    }
/* Profile Styling */

#userName {

    color:black !important;

}
.modal h4 {

    color:black !important;

}
.modal h1 {

color:black !important;

}
.UserMessage {

    background-color:#151519;
    padding:1.58rem;
    max-width:50rem;
    width:100%;
}
#Warning {

    color:red !important;
    display:block;

}
/* Posting Styling */

.Messages {
    background-color:#151519;


}
.MessageContainer { 

    width:50%;
    margin:auto;

}
.ReplyContainer { 

    width:48%;
    margin:auto;

}
.NameBG {

    background-color:#1F1F23;
    padding:10px;

}
.deletePortion {
   
    display:flex;
    justify-content: flex-end;

}
.PostDelBtn {

    background-color: transparent;
    border:none;
    color: white !important;
    font-family: "Darker Grotesque", sans-serif;
      font-optical-sizing: auto;
      font-weight: 300;
      font-style: normal;
      margin-right:10px;

}
.ImageHandling {

    position:absolute;
    z-index:9999;

}
.PostImg {

    width:40rem;
margin:auto;

}
.PostImgContainer {
    display:flex;
    justify-content:center;
    width:100%;

}
/* Media Queries */
@media only screen and (max-width: 720px) {
    /* About Queries */
    .centered {
        color: white !important;
        font-family: "Darker Grotesque", sans-serif;
          font-optical-sizing: auto;
          font-weight: 300;
          font-style: normal;
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .centered2 {
        color: white !important;
        font-family: "Darker Grotesque", sans-serif;
          font-optical-sizing: auto;
          font-weight: 300;
          font-style: normal;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width:70%;
        font-size:15px;
    }
    .centered3 {
        color: white !important;
        font-family: "Darker Grotesque", sans-serif;
          font-optical-sizing: auto;
          font-weight: 300;
          font-style: normal;
        position: absolute;
        top: 75%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width:40%;
        font-size:15px;

    }
    .AboutContainer {

        width:100%;
        margin:auto;
    
    
    }
    /* Contact Us Queries */
    .ContactBG {
        word-wrap:break-word;
         background-color: #120914;
         box-shadow:5px 5px 10px fuchsia;
         margin-top:10px;
     }
     .Contact {
       width:50%;
       margin:auto;


     }
     #QuestionBtn h2 {
      margin-top:10px;
      font-size:10px;


     }
     #ProductBtn2 {
         margin-top:0.8rem;
         width:100%;
         border-radius:7px;
        background-color:blueviolet;
        box-shadow:3px 3px 10px fuchsia;
        border:none;
        color:white;
        text-align:center;


     }

   

     input[productadd] {
         
         width:100%;
         margin:auto;
         background-color:#1b0e1e;
         box-shadow:3px 3px 5px fuchsia;
         outline:2px solid fuchsia;
         margin-top:5px;
     
     }
     #ProductBtnAlph {
         margin-top:0.8rem;
         width:100%;
         border-radius:7px;
        background-color:blueviolet;
        box-shadow:3px 3px 10px fuchsia;
        border:none;
        color:white;
        text-align:center;

     }
     #ProductBtnTicket {
         margin-top:0.8rem;
         width:100%;
         border-radius:7px;
        background-color:blueviolet;
        box-shadow:3px 3px 10px fuchsia;
        border:none;
        color:white;
        text-align:center;
     
     }
     #Deleter {

         width:12%;
         font-size:10px;
        background-color:blueviolet;
        box-shadow:3px 3px 10px fuchsia;
        border:none;
        color:white;
        text-align:center;
       
     }

     #ProductBtnSub {
         margin-top:0.8rem;
         width:100%;
         border-radius:7px;
        background-color:blueviolet;
        box-shadow:3px 3px 10px fuchsia;
        border:none;
        color:white;
        text-align:center;
     }
     .Mobile {

         display:flex;
         flex-direction:column;
         width:100%;

     }
     .col-res {

         margin-top:20px;

     }
     .BtnCenter {
         display:flex;
         margin-top:0.1rem;
         justify-content: center;
         flex-direction:column;
         }
     .BGImg2 { 

         background-image:url("https://richtershotline.github.io/Pimages/Images/Payphone2.jpg");
         /* background-size: 100% auto;
         background-repeat: no-repeat; */
     background-size:center;
     background-position:center center;
     background-attachment:local;
     padding:2rem;
     }
#ContactForm {
    position:relative;
    right:50px;
    width:170px;
    display:block;
outline:none;
box-shadow:none;
}
::placeholder {

 font-size:0.1px;
}
.ForMobile {
width:100%;
display:flex;
flex-direction:column;
}
.ForMobile h3 {

font-size:12px;
}
     .ContactBG p {
       font-size:9px;
      
      }
      .ContactBG h3, h4 {
         font-size:9px;
        
        }
     #AboutImg {
         width:50%;
         height:auto;
         margin-left:0.4rem;
     }
     #TeamText {

         width:50%;
         font-size:9px;
         margin-left:9px;  
            
        }
     .BodConBG {
         display:flex;
        align-items:center;
        width:90%;
        flex-direction:column;
        font-size:0.4rem;
     }
     
     .BodConBG img {
     width:100%;
     height:100%;
     object-fit: cover;
     
     
       
     }
     #AboutText {
         width:100%;
             height:auto;
         margin:auto;
         }
     footer {


         bottom: 0;    
         background-color:black;
         opacity:0.7;
     height:auto;
     width: 100%;
     position: fixed;
     left: 0;
     text-align:center;
     
     
     
     }
     #VipBtn {
         width:100%;
         height:30%;
         border-radius:7px;
        margin:auto;
         
        border:1px solid white;
        color:white;
        margin-top:9px;
        text-align:center;
       
       }
     
     .BodCon p {
     
     text-align:center;
     
     }

     .BodConBG2 {
         display:flex;
         margin:auto;
      flex-direction:column;
         
      }
      .BodConBG2 img {
          width:100%;
          height:auto;
          margin-top:0.4rem;
        
        box-shadow:5px 5px 10px fuchsia;
        outline:2px solid fuchsia;
        }
        .BodConBG2 p {
          width:100%;
          margin:auto;
          text-align: justify;
          text-justify: inter-word;
          margin-top:0.9rem;
          word-wrap: break-word;
          padding:12px;
        
        }
/* Splash Page Queries */
.SplashContainer {
    background-color: #1F1F23;
    opacity:0.9;
    width:95%;
    height:auto;
    margin:auto;
    display: flex;
    margin:auto;
    justify-content: center;
    flex-direction: column;
   margin-top:20px;
   border:1px solid black;
   /* box-shadow:7px 7px #000000; */
   }
   .SplashContainer h2 {

    text-align:center;
   }
    
  #LoginForm {

    width:90%;

  }
   #VipBtnLogin {


    background-color: #3d3d44;
    width:70%;
    height:25%;
    border:1px solid black;
    border-radius:7px;
   margin:auto;
   padding:2px;
   color:white;
   margin-top:20px;
   text-align:center;

   }
   /* Sign Up Queries */
   #SignupImg {
    object-fit:cover;
object-position:center;
margin:auto;
width:100%;
height:19rem;
overflow:hidden;
opacity:0.4;
   }
   #SignUpPassword {
    margin:auto;
    width:200px;
  margin-left:-30px;
   }
   #VipSignUp {
    background-color: #3d3d44;
    width:100%;
    height:35%;
    border:1px solid black;
    border-radius:7px;
   margin:auto;
   padding:2px;
   color:white;
   margin-top:20px;
   text-align:center;

   }
   .centereds {
    color: white !important;
    font-family: "Darker Grotesque", sans-serif;
      font-optical-sizing: auto;
      font-weight: 300;
      font-style: normal;
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.centereds2 {
    color: white !important;
    font-family: "Darker Grotesque", sans-serif;
      font-optical-sizing: auto;
      font-weight: 300;
      font-style: normal;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width:40%;
}
}